/obj
/soccerbot.v11.suo
/access_log
/agent_log
/error_log
/referer_log
/soccerbot.opensdf
/soccerbot.cbp
/soccerbot.exe
/soccerbot.pdb
/soccerbot.sdf
/soccerbot.vcxproj.filters
/soccerbotd.exe
/soccerbotd.ilk
/soccerbotd.pdb
/soccerbot.aps
/soccerbot.bsc
/soccerbot.vcxproj.user
